
body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url('https://pbs.twimg.com/media/GciWPgraMAAQJUU?format=jpg&name=medium');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  color: #4caf50;
  font-size: 2rem;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  margin-bottom: 15px;
  border: 2px solid #4caf50;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.result span {
  color: #4caf50;
}
